@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;900&display=swap");

body {
  margin: auto;
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

code {
  font-family: "Inter", sans-serif;
}

/* HEADINGS */
.header-home {
  font-weight: 900;
  font-size: 75px;
  color: #d3623f;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
  width: 600px;
}

.header-form {
  font-weight: 900;
  font-size: 35px;
  color: #d3623f;
  margin: 0;
}

.text-subtitle {
  font-weight: 600;
  font-size: 13.5px;
  color: #434343;
  margin: 0 0 30px 0;
}
/* End of HEADINGS */

/*INPUT*/
.link {
  color: #434343;
  font-weight: 600;
}

select {
  cursor: pointer;
}

input:focus,
select:focus {
  outline: none;
}

select:required:invalid {
  color: gray;
}

option {
  color: black;
}

/*End of INPUT*/

/* PAGES */
.home {
  background-image: url("/src/images/home-graphics.png");
  background-size: cover;
  padding: 50px 75px 255px 75px;
  align-items: center;
}

.login {
  background-image: url("/src/images/login-graphics.png");
  background-repeat: no-repeat;
  height: 657px;
  padding: 0 75px;
  align-items: center;
}

.center {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.register {
  background-color: #fe6e86;
  background-image: url("/src/images/register-graphics.png");
  background-repeat: no-repeat;
  height: 657px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End of PAGES */
